## Importing Libraries

In [87]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import matplotlib.pyplot as plt
from sklearn.metrics import accuracy_score
import numpy as np

# Cleaning and Pre-processing of data

In [98]:
file_path='loan_approval_dataset.csv'
data=pd.read_csv(file_path)
columns_irr=['loan_id']
data_fil=data.drop(columns=columns_irr)
#columns_encod=[' education',' self_employed']
#data_encod=pd.get_dummies(data_fil,columns=columns_encod)
mapping1 = {
    ' Approved': 1,
    ' Rejected': 0
}
mapping2 = {
    ' Graduate': 1,
    ' Not Graduate': 0
}
mapping3 = {
    ' Yes': 1,
    ' No': 0
}
data_fil[' loan_status'] = data_fil[' loan_status'].map(mapping1)
data_fil[' education'] = data_fil[' education'].map(mapping2)
data_fil[' self_employed'] = data_fil[' self_employed'].map(mapping3)
y=data_fil[' loan_status']
x=data_fil.drop(columns=[' loan_status'])
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.2, random_state=42)
scaler = StandardScaler()
x_train_scaled = scaler.fit_transform(x_train)
x_test_scaled = scaler.transform(x_test)
y_train_numpy = y_train.values
y_test_numpy = y_test.values
num_rows,num_cols = x.shape

In [95]:
data_fil.head()

,no_of_dependents,education,self_employed,income_annum,loan_amount,loan_term,cibil_score,residential_assets_value,commercial_assets_value,luxury_assets_value,bank_asset_value,loan_status
0,2,1,0,9600000,29900000,12,778,2400000,17600000,22700000,8000000,1
1,0,0,1,4100000,12200000,8,417,2700000,2200000,8800000,3300000,0
2,3,1,0,9100000,29700000,20,506,7100000,4500000,33300000,12800000,0
3,3,1,0,8200000,30700000,8,467,18200000,3300000,23300000,7900000,0
4,5,0,1,9800000,24200000,20,382,12400000,8200000,29400000,5000000,0

# Building Logistic Regression Model from scratch

In [99]:
def dot(x):
    global w,b
    return np.dot(x,w)+b

def sigmoid(z):
    return 1/(1+np.exp(-z))

def prediction(z):
    m=len(z)
    for i in range(m):
      if z[i]>=0.5:
        z[i]=1
      else:
        z[i]=0

def cost_function(y_t,y_p):
    epsilon = 1e-10
    m=len(y_t)
    cost=0
    for i in range(m):
        cost+= -y_t[i]*np.log(y_p[i]) - (1-y_t[i])*np.log(1-y_p[i])
    cost/=m
    return cost

def grad_des(x,y_target,y_pred,learn):
    global w,b
    error=y_pred-y_target
    m=len(y_pred)
    grad=(1/m)*np.dot(x.T,error)
    w-=learn*grad
    b-=learn*np.mean(error)


w = np.zeros(num_cols)
b = 0
learn_rate=1
epochs=1000
for epoch in range(epochs):
    y_dot=dot(x_train_scaled)
    y_pred=sigmoid(y_dot)
    #prediction(y_pred)
    loss=cost_function(y_train_numpy,y_pred)
    grad_des(x_train_scaled,y_train_numpy,y_pred,learn_rate)
    if epoch%100==0:
        print(f'Epoch {epoch}, Loss {loss}')

Epoch 0, Loss 0.6931471805599333
Epoch 100, Loss 0.22505110439644946
Epoch 200, Loss 0.22106427701396852
Epoch 300, Loss 0.21981372327831056
Epoch 400, Loss 0.2191955370769241
Epoch 500, Loss 0.218850515457545
Epoch 600, Loss 0.2186508866960364
Epoch 700, Loss 0.21853380331213798
Epoch 800, Loss 0.21846465289929862
Epoch 900, Loss 0.21842362508242513

In [100]:
print(w)
print(b)

[-0.02936785  0.02393383  0.06754749 -1.7044718   1.33033994 -0.88980096
  4.2776239   0.03630921  0.08453589  0.28755274  0.12040969]
1.7923050483004803

## Prediction on Test Data

In [101]:
y_pr_d=dot(x_test_scaled)
y_pr_s=sigmoid(y_pr_d)
prediction(y_pr_s)
accuracy = accuracy_score(y_test_numpy, y_pr_s)
print("Accuracy on Testing Data:", accuracy)

Accuracy on Testing Data: 0.9039812646370023