In [15]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler

# Cleaning and Pre-processing of data

In [16]:
file_path='loan_approval_dataset.csv'
data=pd.read_csv(file_path)
columns_irr=['loan_id']
data_fil=data.drop(columns=columns_irr)
columns_encod=[' education',' self_employed']
data_encod=pd.get_dummies(data_fil,columns=columns_encod)
y=data_encod[' loan_status']
x=data_encod.drop(columns=[' loan_status'])
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.2, random_state=42)
scaler = StandardScaler()
x_train_scaled = scaler.fit_transform(x_train)
x_test_scaled = scaler.transform(x_test)
y_train_numpy = y_train.values
y_test_numpy = y_test.values

In [17]:
data_encod.head()

,no_of_dependents,income_annum,loan_amount,loan_term,cibil_score,residential_assets_value,commercial_assets_value,luxury_assets_value,bank_asset_value,loan_status,education_ Graduate,education_ Not Graduate,self_employed_ No,self_employed_ Yes
0,2,9600000,29900000,12,778,2400000,17600000,22700000,8000000,Approved,True,False,True,False
1,0,4100000,12200000,8,417,2700000,2200000,8800000,3300000,Rejected,False,True,False,True
2,3,9100000,29700000,20,506,7100000,4500000,33300000,12800000,Rejected,True,False,True,False
3,3,8200000,30700000,8,467,18200000,3300000,23300000,7900000,Rejected,True,False,True,False
4,5,9800000,24200000,20,382,12400000,8200000,29400000,5000000,Rejected,False,True,False,True